.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-family: Arial;
}

input {
  width: 80%;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}
